.title {
    color: white !important;
    text-align: left !important;
    font-size: 2em !important;
    text-shadow: 2px 2px 5px black !important;
}

.author {
    color: white !important;
    text-align: left !important;
    font-size: 1em !important;
    text-shadow: 2px 2px 5px black !important;
}
