.title {
    color: white !important;
    text-align: left;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}

.author {
    color: white !important;
    text-align: left;
    font-size: 1em;
    text-shadow: 2px 2px 5px black;
}
